.title{
    margin-bottom: 10px;
    text-align:center;
    width: 200px;
    border: solid black 3px;
    }


.tablo{
    text-align:center;
    width: 200;
    }

    input[type="button"]
    {
    background-color:gray;
    color: black;
    border: solid black 2px;
    width:100%
    }

    input[type="text"]
    {
    background-color:white;
    border: solid black 2px;
    width:95%
    }